

	    <h3>Contact Us</h3>
	    <div class="main_left">
	      <div class="search">
	        <form id="form1" name="form1" method="post" action="">

	          <p>Search: </p><label>
	          <span>
	          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="" />
	          </span>
	          <input name="b" type="image" src="images/search.gif" class="button" />
	          </label>
	        </form>
	        <div class="clr"></div>
	      </div>
	      <h2>Contact Information<br />
	        <span> Lorem ipsum dolor sit amet, consectetur </span></h2>
	      <p><strong>Tel</strong>:          +44 (0) 1234 6765<br />
	        <strong>Fax</strong>:         +44 (0) 1234 6765<br />
	        <strong>Email</strong>:      mail@mail.com<br />
	        <strong>Skype</strong>:     888 888 888 888</p>
	      <h2>Some Text Here</h2>
	      <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. </p>
	    </div>
	    <div class="main_right">
	      <div class="clr"></div>
	      <div class="right_text">
	        <p><strong>Latest News:</strong> Dipisicing elit, sed do eiusmod tempor incididunt ut labore et?</p>
	      </div>
	      <div class="clr"></div>
	      <h2>Send us an e-mail<br />
	        <span> Ut enim ad minim veniam, quis nostrud exercitation </span> </h2>
	      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	      <p>&nbsp;</p>
	      <%= form_for(:contact, :url => {:controller =>'sites', :action =>'contact'}) do |f| %>
	        <ul>
	          <li>
	            <label for="name">Name</label></br>
	            <%= f.text_field   :name %>
	          </li>
	          <li>
	            <label for="email">Your email</label></br>
	            <%= f.text_field :email %>
	          </li>
	          <li>
	            <label for="company">Company</label></br>
	            <%= f.text_field :company %>
	          </li>
	          <li>
	            <label for="subject">Subject</label></br>
	            <%= f.text_field   :subject %>
	          </li>
	          <li>
	            <label for="message">Message </label></br>
	            <%= f.text_area :message %>
	          </li>
	          <li class="buttons">
	            <input type="image" name="imageField" id="imageField" src="images/send.gif" class="send" />
	            <div class="clr"></div>
	          </li>
	        </ul>
	      <% end %>
	      <p>&nbsp;</p>
	      <p>&nbsp;</p>
	    </div>
	    <div class="clr"></div>
	  </div>
	</div>


